*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: fantasy;
}
body{
    
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #000000 40%, #f5f5f5 100%);
  color: #f5f5f5;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;



     
}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    gap: 12px;
    

}
.form{
    width: 50%;
    height: 200px;
    padding: 21px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: aqua;
}
h1{
    gap: 12px;
    margin: 22px;
    background: linear-gradient(135deg, #000000 40%, #f5f5f5 100%);
  color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
form{
    
    width: 40%;
    height: 400px;
    padding: 21px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(240, 236, 236);
    gap: 22px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    

}
h2{
    font-family: 'Times New Roman', Times, serif;
    padding: 12px;
    font-weight: 700;
    color: #000000;
    
    font-size: xx-large;
}
input{
    flex-direction: column;
    align-items: center;
    padding: 12px;
    width: 70%;
    text-align: center;
    list-style: none;
    border: none;
    border-radius: 10px;
    font-style: normal;
    
    

}
button{
    cursor: pointer;
    width: 70%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    list-style: none;
    color: whitesmoke;
    font-family: sans-serif;

   background-color: rgb(0, 0, 0);

}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
    width: 100%;
    gap: 12px;
    margin: 70px;
}